
//Variables for setting width of the element
$col-1: calc(100vw * (1 / 14));
$col-2: calc(100vw * (2 / 14));
$col-3: calc(100vw * (3 / 14));
$col-4: calc(100vw * (4 / 14));
$col-5: calc(100vw * (5 / 14));
$col-6: calc(100vw * (6 / 14));
$col-7: calc(100vw * (7 / 14));
$col-8: calc(100vw * (8 / 14));
$col-9: calc(100vw * (9 / 14));
$col-10: calc(100vw * (10 / 14));
$col-11: calc(100vw * (11 / 14));
$col-12: calc(100vw * (12 / 14));
$col-13: calc(100vw * (13 / 14));
$col-14: 100vw;


//Variables for setting height of the element
$heightUnit: 33px;
