.smallButton {
  padding: 0.1 * $heightUnit;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.75px solid $darkgrey;
  font-size: 0.3 * $heightUnit;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  &:hover {
    border: 0.75px solid $gold;
    color: $gold;
  }


  a, button {

  }
}