header {
  display: flex;
}

.header--leftColumn {
  width: $col-7;
  img {
    display: block;
    height: 100%;
    margin: 0 -480px;
  }
}

.header--rightColumn {
  width: $col-6;
  margin-right: $col-1;
}