.whoWeHelp--upperPart {
  width: $col-6;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    margin-bottom: 2 * $heightUnit;
  }

}

.buttonsRow {
  width: $col-6;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.whoWeHelp--title {
  font-size: $heightUnit;
  margin: 2 * $heightUnit 0 0.8 * $heightUnit 0;
  text-align: center;
}

.whoWeHelp--list {
  width: $col-10;
  margin: 0 auto;

}

.whoWeHelp--list__description {
  width: $col-5;
  margin: 0 auto;
  padding: 2 * $heightUnit 0;
  text-align: center;
  font-size: 22px;
}

.whoWeHelp--list__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.8 * $heightUnit 0;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p, span {
      font-family: $font-alt;
      font-size: 18px;
      font-weight: 300;
      padding: 0.2 * $heightUnit 0;;
    }

    .p1 {
      font-size: 26px;
    }
    .p2 {
      font-style: italic;
    }

  }
}

