.whoWeHelp--upperPart {
  width: $col-6;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    margin-bottom: 2 * $heightUnit;
  }

}

.buttonsRow {
  width: $col-6;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.whoWeHelp--title {
  font-size: $heightUnit;
  margin: 2 * $heightUnit 0 0.8 * $heightUnit 0;
  text-align: center;
}

.whoWeHelp--list {
  width: $col-10;
  margin: 0 auto;
  margin-bottom: 2 *$heightUnit;
}

.whoWeHelp--list__description {
  display: block;
  width: $col-5;
  height: 6 * $heightUnit;
  margin: 0 auto;
  padding: 2 * $heightUnit 0;
  text-align: center;
  font-size: 22px;
}

.whoWeHelp--list__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.8 * $heightUnit 0;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p, span {
      font-family: $font-alt;
      font-size: 18px;
      font-weight: 300;
      padding: 0.2 * $heightUnit 0;;
    }

    .p1 {
      font-size: 26px;
    }
    .p2 {
      font-style: italic;
    }

  }
}

.pageNumbers {
  display: flex;
  justify-content: center;

  li {
    width: $heightUnit;
    height: $heightUnit;
    margin: 0.5 * $heightUnit;
    border: 0.75px solid $darkgrey;
    text-align: center;
    line-height: $heightUnit;
    cursor: pointer;
    &:hover {
      border-color: $gold;
      color: $gold;
    }
  }
}

