.logOutGoodBye {
  width: $col-3;
  margin: 0 auto;
  margin-top: 4 * $heightUnit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    margin-bottom: 2 * $heightUnit;
  }
}

.logOutGoodBye--title {
  font-size: $heightUnit;
  margin: 0.8 * $heightUnit 0;
  text-align: center;
}