.loginRegister {

  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;

    li {

      a {
        font-size: 13px;
        padding: 9px;
      }

    }

  }

}