.topMenu {
  width: $col-5;
  height: 3*$heightUnit;
  margin-top: 1*$heightUnit;
  margin-left: $col-1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topMenuContainer {
  width: 100%;
  display: flex;

  .topMenuContainer--leftMargin {
    width: $col-8;
  }

  .topMenuContainer--rightMargin {
    width: $col-1;
  }
}
