* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-base;
}

button {
  all: unset;
  cursor: pointer;
}

input {
  all: unset;
}

a {
  all: unset;
  cursor: pointer;
}

li {
  display: block;
  align-items: center;
}