* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-base;
}

ul, ol {
  list-style-type: none;
}

button {
  all: unset;
  cursor: pointer;
}

input, textarea {
  all: unset;
}

a {
  all: unset;
  cursor: pointer;
}

li {
  display: block;
  align-items: center;
}

h2 {
  font-size: 29px;
  text-align: center;
}